@charset "utf-8";
/* CSS Document */
/*全局样式*/
*{padding:0;margin:0 auto;} 
div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,img,ol,ul,li,p,span,a{border:0;} 
img,input{border:none;vertical-align:middle;} 
body{font-family:Tahoma,Arial,Helvetica,"微软雅黑"; font-size:12px;text-align:center;color:#000;} 
html{overflow-y:scroll;} 
ul,ol{list-style-type:none;} 
th,td,input{font-size:12px;} 
h3{font-size:14px;} 
button{border:none;cursor:pointer;font-size:12px;background-color:transparent;} 
select{border-width:1px;_zoom:1;border-style:solid;padding-top:2px;font-size:12px;} 
.clear{clear:both;font-size:1px;height:0;visibility:hidden;line-height:0;} 
.clearfix:after{content:"";display:block;clear:both;} 
.clearfix{zoom:1;} 
a:link,a:visited{text-decoration:none;color:#cdbb7c;} 
a:hover,a:active{text-decoration:none;color:#cdbb7c;cursor: pointer;}
.clearfloat{clear: both;}

li,li ,li a,ul{color:#333333;}
.claer{ clear:both;}
/外边距
******************************/
.m0 { margin: 0!important; }
.m10 { margin:10px;}
.m15 { margin:15px !important;}
.m30 { margin:30px;}
.mt5 { margin-top:5px;}
.mt10 { margin-top:10px !important;}
.mt15 { margin-top:15px;}
.mt20 { margin-top:20px !important;}
.mt30 { margin-top:30px !important;}
.mt40 { margin-top:40px !important;}
.mt50 { margin-top:50px !important;}
.mt100 { margin-top:100px;}
.mb5 { margin-bottom:5px !important;}
.mb10 { margin-bottom:10px !important;}
.mb15 { margin-bottom:15px !important;}
.mb20 { margin-bottom:20px;}
.mb30 { margin-bottom:30px !important;}
.mb40 { margin-bottom:40px !important;}
.mb50 { margin-bottom:50px !important;}
.mb70 { margin-bottom:70px !important;}
.mb100 { margin-bottom:100px !important;}
.ml5 { margin-left:5px!important;}
.ml10 { margin-left:10px!important;}
.ml15 { margin-left:15px;}
.ml20 { margin-left:20px;}
.ml30 { margin-left:30px;}
.ml50 { margin-left:50px;}
.ml100 { margin-left:100px !important;}
.ml200 { margin-left:200px !important;}
.mr5 { margin-right:5px !important;}
.mr10 { margin-right:10px !important;}
.mr15 { margin-right:15px !important;}
.mr20 { margin-right:20px;}
.mr30 { margin-right:30px !important;}
.mr50 { margin-right:50px !important;}
.mr100 { margin-right:100px;}

/内边距
******************************/

.p10 { padding:10px;}
.p15 { padding:15px;}
.p30 { padding:30px;}
.pt3 { padding-top:3px;}
.pt5 { padding-top:5px;}
.pt10 { padding-top:10px;}
.pt15 { padding-top:15px;}
.pt20 { padding-top:20px;}
.pt25 { padding-top:25px;}
.pt30 { padding-top:30px;}
.pt40 { padding-top:40px !important;}
.pt50 { padding-top:50px;}
.pt80 { padding-top:80px;}
.pt100 { padding-top:100px;}
.pb5 { padding-bottom:5px;}
.pb10 { padding-bottom:10px;}
.pb15 { padding-bottom:15px;}
.pb20 { padding-bottom:20px !important;}
.pb30 { padding-bottom:30px !important;;}
.pb40 { padding-bottom:40px;}
.pb50 { padding-bottom:50px;}
.pb80 { padding-bottom:80px;}
.pb100 { padding-bottom:100px;}
.pl5 { padding-left:5px;}
.pl10 { padding-left:10px;}
.pl15 { padding-left:15px;}
.pl20 { padding-left:20px;}
.pl30 { padding-left:30px;}
.pl50 { padding-left:50px;}
.pl100 { padding-left:100px;}
.pr5 { padding-right:5px;}
.pr10 { padding-right:10px;}
.pr15 { padding-right:15px;}
.pr20 { padding-right:20px;}
.pr30 { padding-right:30px;}
.pr50 { padding-right:50px;}
.pr100 { padding-right:100px;}


/*定位
******************************/
.tl { text-align:left !important;}
.tc { text-align:center !important; }
.tr { text-align:right !important;}
.bc { margin-right:auto ;margin-left:auto;}
.fl { float:left; display:inline;}
.fr { float:right !important; display:inline;}
.cb { clear:both;}
.cl { clear:left;}
.cr { clear:right;}
.vm { vertical-align: middle;}
.vt { vertical-align: top;}
.pr { position:relative;}
.pa { position:absolute;}
/*-------------------nav-------------------*/

nav{width:100%;height:60px;background: #fff;margin:0 auto;}
.top_big{width:1200px;margin: 0 auto;}
.top_left{float:left;line-height: 60px;}
.top_left a{float: left;display: inline-block;}
.top_left .logo_zi{float: left;width: 150px;margin-top: 10px;margin-left: 20px;}
.top_left h2{float: left;font-size: 25px;color: #000000;line-height: 25px;letter-spacing: 2px;}
.top_left p{float:left;font-size: 12px;color: #000000;line-height: 20px;}
.top_right{float:right}
.top_right ul li{float: left;font-size: 16px;}
.top_right ul li a{line-height: 60px;padding: 19px 37px;color:#000000;}
.top_right ul li a:hover,
.top_right ul .active a{color: #ea581a;border-bottom: 1px solid #ea581a;}

/*-------------------banner-------------------*/
.carousel-control .left{background-image: inherit;}
.carousel-control .right{background-image: inherit;}
.banner_p{position: relative;}
.banner_p img{width:100%; display: block;height: 440px;}
.carousel .item_banner01{width: 600px;margin: 0 auto;position: absolute;
    					top:52%;left: 20%;}
.carousel .item_banner01 h1{letter-spacing: 5px;font-size: 2.8em;
							color:#fff; font-weight: 500;text-align: left;}
.carousel .item_banner01 h2{letter-spacing: 5px;font-size: 2em;
							color:#fff; font-weight: 500;text-align: left;}
.carousel-control{top: 40% !important;width: 3.5%;height: 50px;}

.carousel-indicators{bottom: 15px !important;}
.carousel-indicators li{background-color: #fff;width: 10px;height: 10px;margin: 0 4px;}
.carousel-indicators .active{background-color: #1999d7;width: 10px;height: 10px;margin: 0 4px;}

/*-------------------新闻-------------------*/
.news_information{width: 100%; background-color:  #008fd5;overflow: hidden;
					margin-top: 1px;position: relative;}
.news_information .center{width: 90%;max-width: 1100px;margin :auto;padding: 1% 0;}
.oh{overflow: hidden;position: relative;}
.news_information .center .left{width: 10%;float:left;padding-left: 1%;position: re;padding-top: 0.2%;}
.news_information .center .left img{width: 100%;float: left;}
.news_information .center .left .pr{left:25%;line-height: 0;position: absolute;top:51%;font-size: 16px;color:#008fd5;}
.news_information .center .right{width: 85%;float:left;margin-left: 3%;}
.news_information .center .right ul{width: 2000%;position: relative;}
ul ol{list-style: none;}
.news_information .center .right ul li{width: 4%;padding-right: 1%;float: left;text-align: left;}
.news_information .center .right li a{color: #fff;line-height: 2.3;font-size: 16px;}
.news_information .center .right ol{position: absolute;right: 0;top: 0;width: 8%;background-color: #008fd5;}
.news_information .center .right ol li {
    width: 50%;
    float: left;
    text-align: center;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.visibility_hidden {
    visibility: hidden;
}
.news_information .center .right ol li img{float: left;height: 100%;max-height: 18px;}
.pa{position: absolute;left: 0;top: 0;}

/*-------------------we big-------------------*/
.we_big{width: 100%; margin:0 auto;}
.we_big .we_content{width: 1200px;margin:0 auto;}
.we_big .we_content ul li{float: left;background: #ededed;width:388px;height: 470px;}
.we_big .we_content ul li .we_img{overflow: hidden;width: 388px;height: 260px;}
.we_big .we_content ul li span{font-size: 18px;color: #1999d7;line-height: 30px;}
.we_big .we_content ul li p
{
	font-size: 14px;
	color: #494949;
	text-align: left;
	line-height: 25px;
	padding: 0px 54px;
}
.we_big .we_content ul li img{display: block;width: 388px;height: 260px;overflow: hidden;
							cursor: pointer;
							-webkit-transition: all 1s ease-in-out;
							-moz-transition: all 1s ease-in-out;
							-o-transition: all 1s ease-in-out;
							transition: all 1s ease-in-out;
							}
.we_big .we_content ul li img:hover{
							transform: scale(1.2);
							-webkit-transform: scale(1.2);
							-moz-transform: scale(1.2);
							-moz-transform: scale(1.2);
							overflow: hidden;
							-webkit-transition: all 1s ease-in-out;
							-moz-transition: all 1s ease-in-out;
							-o-transition: all 1s ease-in-out;
							transition: all 1s ease-in-out;
							}
/*-------------------footer-------------------*/
footer{width: 100%; margin :0 auto;background: #f1f5f9;height: 260px;overflow: hidden;}
.footer{width: 1200px;margin: 0 auto;border-bottom: 1px solid #dedfe0;}
.footer .footer_left{float:left;}
.footer .footer_left ul{position: relative;}
.footer .footer_left ul li .qq_erweima,
.footer .footer_left ul li .wb_erweima,
.footer .footer_left ul li .wx_erweima
{ 
	width:0px; height:0px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
}
.footer .footer_left ul .qq:hover .qq_erweima
{
	position: absolute;
	width:129px;height: 129px; left:0;top:50px;
	background: url(../img/qrcode_for_tuodongruanjian.png) no-repeat;
	-webkit-transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-ms-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
}
.footer .footer_left ul .wb:hover .wb_erweima
{
	position: absolute;
	width:129px;height:129px; left:30px;top:50px;
	background: url(../img/qrcode_for_tuodongruanjian.png) no-repeat;	
}
.footer .footer_left ul .wx:hover .wx_erweima
{
	position: absolute;
	width:129px;height: 129px; left:60px;top:50px;
	background: url(../img/qrcode_for_tuodongruanjian.png) no-repeat;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	
}
.footer .footer_left ul li{float: left;width: 24px;height: 24px;margin: 5px 10px 0px 0px ;}
.footer .footer_left a{display: inline-flex;width: 24px;height: 24px;}
.footer .footer_right{float :right;}
.footer .footer_li{float: left;margin: 0px 60px;text-align: left;}
.footer .footer_li a{color: #000000;font-size: 14px;line-height: 25px;}
.footer .footer_li div a
{
	font-size: 16px;
	line-height: 35px;
	color: #8c98ac;
	margin-bottom: 5px;
	display: inline-block;
}
footer .copyright p{color:#000000;font-size: 14px;}

/*------------------关于拓东-------------------*/
.td_banner{width: 100%;margin :0 auto;}
.td_banner img{width: 100%;display: block;}

/*------------------td banner end------------------*/
.our_point_big{width: 100%;margin:0 auto;}
.our_point_big .our_point{width: 1000px;margin:0 auto;}
.our_point h1{font-size: 18px;color:#0075c2;font-weight: 500;text-transform: uppercase;line-height: 35px;}
.our_point .point_line{position: relative;width: 300px;margin: 0 auto;}
.our_point h2{color: #000000;font-size: 17px;font-weight: 500;line-height: 30px;}
.our_point h2:before
{
	content:" ";
	border-bottom: 1px solid #000000;
	width: 30px;
	height: 1px;
	display: block;
	position: absolute;
	top:50%;
	left:20%;
}
.our_point h2:after
{
	content:" ";
	border-bottom: 1px solid #000000;
	width: 30px;
	height: 1px;
	display: block;
	position: absolute;
	top:50%;
	right:20%;
}
.point_content{width:1000px;margin:0 auto;}
.point_content ul li{float:left;margin:5px 40px 0px 70px;width: 215px;height: 250px;}
.point_content ul li .point_top
{
	width:128px;height: 128px;border-radius: 64px;
	background:#0075c2;cursor:pointer;transition: background 1.5s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-o-transition: all 0.8s;
}
.point_content ul li .point_top:hover
{
	background: #2f383d;
	transform: rotate(360eg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-o-transition: all 0.8s;
}
.point_content ul li .point_top p{color:#fff;line-height: 25px;font-size: 16px;padding-top: 45px;}
.point_bottom p{font-size: 14px;color:#494949;line-height: 25px;}

/*------------------td course begin------------------*/
.td_course_big{width: 100%;margin: 0 auto;background: #f3f3f3;}
.course_content{width: 1000px;margin: 0 auto;background: url(../img/course_bg.png) no-repeat center top;overflow: hidden;}
.course_content .course_left{float: left;width: 440px;}
.course_content .course_left ul li{text-align: right;margin-bottom: 10px;}
.course_content .course_right{float:right;width: 440px;}
.course_content .course_right ul li{text-align: left;margin-bottom: 10px;}
.course-begin .course-begin p{font-size: 18px;color:#000;line-height:35px ;}
.course_content ul li span,
.course_content ul li p{color:#0075c2;font-size: 12px; line-height: 25px;}
.course_content ul li p{color:#000000;}

/*------------------td aboutus begin------------------*/
.td_aboutus{width: 100%;margin:0 auto;}
.td_aboutus_content{width: 1165px;margin:0 auto;overflow: hidden;}
.td_aboutus_content .td_aboutus_left{float: left;width: 480px;height: 480px;overflow: hidden;margin-left: 40px;}
.td_aboutus_content .td_aboutus_left img
{width: 480px;display: block;transition-duration: 2s;cursor: pointer;}
.td_aboutus_content .td_aboutus_left img:hover
{display: block;transform: scale(1.2,1.2);transition-duration: 2s;}
.td_aboutus_content .td_aboutus_right{float: left;margin-left: 65px;width: 480px;}
.td_aboutus_content .td_aboutus_right span,
.td_aboutus_content .td_aboutus_right h4
{text-align: left;float: left;color:#0075c2;
font-size: 18px;width: 480px;height: 35px;}
.td_aboutus_content .td_aboutus_right h4{color:#000000;}
.td_aboutus_content .td_aboutus_right p{text-align: left;font-size: 12px;color: #494949;line-height: 20px;}											

/*------------------prodcued-service begin------------------*/

/*------------------product-banner begin------------------*/
.product_banner{width: 100%;margin:0 auto;height: 450px;
background: url(../img/product_banner.png) no-repeat;background-size: cover;overflow: hidden;}
.product_banner h1{padding-top: 150px;color: #fff;font-size: 32px;font-weight: 500;letter-spacing: 1px;}
.product_banner a{color: #fff;border: 1px solid #27b0e7;padding: 10px 20px;
display: inline-block;color: #27b0e7;font-size: 18px;margin-top: 30px;}
.product_big{width:100% ;margin: 0 auto;border-bottom: 1px solid #dedfe0;overflow: hidden;}
.product_big .product_content{width: 1200px;margin: 0 auto;}
.product_big .product_soft{padding: 0 40px;}
.product_big .product_left{float: left;width: 400px;height: auto;}
.product_big .product_left img{display: block;}
.product_big .product_right{float:left; margin-left: 160px;width: 555px;}
.product_big .product_right h2{color: #000000;font-size: 24px;font-weight: 500;text-align: left;}
.product_big .product_right p{color:#767676;font-size: 14px;line-height: 25px;margin-top: 25px;text-align: left;}
.product_big .product_right a{color:#fff;background: #27b0e7; padding: 10px 25px;
							border-radius: 8px;display:inline-block;
							float: left;margin-top: 20px;font-size: 16px;}
.introduce_big{width: 100%;margin: 0 auto;overflow: hidden;}
.introduce_big .introduce_content{width: 810px;margin:0 auto;}
.introduce_content h2{color: #000000;font-size: 24px;font-weight: 500;line-height: 50px;}
.introduce_content p{color:#767676;font-size: 14px;line-height: 25px;letter-spacing: 1px;}
.introduce_content .introduce{width: 600px;margin: 0 auto;}
.introduce_content .introduce ul li{float: left;margin:20px 90px;width: 120px;}
.introduce_content .introduce ul li span{float: left;width: 88px;height: 88px;border-radius: 44px; 
								border:2px solid #2cb2e8; display: inline-block;margin-left:11px}
.introduce ul li span img{padding-top: 27px;}
.introduce ul li a{margin-top: 20px;border-radius: 8px;
				  float: left;padding: 10px 35px;color: #27B0E7;
				  border:2px solid #2cb2e8;display:inline-block;
				  font-size: 16px;}
/*------------------招聘-------------------*/
.zp_banner{width: 100%;margin:0 auto;background: url(../img/zhaopin_bg.png) no-repeat;
background-size: cover;position: relative;overflow: hidden;}
.zp_banner .deng{text-align: left;width: 902px;}
.zp_banner .shou{text-align: left;width: 880px;}
.zp_banner .zp_banner_p{position: absolute;color: #fff;font-size: 24px;bottom: 60px;left: 40%;width: 600px;}
/*------------------zp_content-------------------*/

.zp_content_big{width: 100%;margin: 0 auto;overflow: hidden;}
.zp_content_big .zp_job{width: 1200px;margin:0 auto;}
.zp_job .zp_job_left{float: left;}
.zp_job .zp_job_left ul li{margin:30px 20px;}
.zp_job .zp_job_left ul li:first-child{margin: 0 20px 25px 20px}
.zp_job .zp_job_left ul li a{color: #8c98ac;font-size: 16px;}
.zp_job .zp_job_left ul li a img{width: 20px;
height: 18px;margin-right: 8px;margin-top:-2px;}
.zp_job .zp_job_right{float:left;margin-left:70px;}
.zp_job .zp_job_right h1{color:#00a1e9;text-align:left;font-size: 26px;letter-spacing: 2px;}
.zp_job .zp_job_right .lie_name{width: 950px;height: 55px;}
.zp_job .zp_job_right .lie_name ul li{float:left;margin:10px 30px;}
.zp_job .zp_job_right .lie_name ul li:first-child{float: left;margin-left: 0;}
.zp_job .zp_job_right .lie_name ul li a{font-size: 16px;line-height: 35px;display: inline-block;border:1px solid #ececec; border-radius: 12px;
			width: 120px;height: 35px;}
.zp_job .zp_job_right .lie_name ul li .selected_lie,
.zp_job .zp_job_right .lie_name ul li a:hover
{border-top-left-radius: 12px;color: #fff;background: #00a1e9;width: 120px;height: 35px;line-height: 35px;display: inline-block;}
.lie_content{width: 950px;border-top: 1px solid #dedfe0;}													
.lie_content ul li
{
	border-bottom: 1px solid #DEDFE0;
	margin: 10px 0px;
	font-size: 16px;
	float: left;
	height: 35px;
	line-height: 18px;
	width: 950px;
	text-align: left;
}
.lie_content ul li:first-child{border-bottom: inherit;margin-bottom: 0px;color: #676767;font-weight: 600;}
.lie_content ul li a{color:#00a1e9;width: 235px;display: inline-block;text-align: left;text-indent: 1em;}
.lie_content ul li i{color: #676767;font-style:normal;width: 140px;display: inline-block;text-align: center;}
.lie_content ul li .red,
.lie_content ul li .blue
{margin-left: 100px;color:#fff;background: #ea581a;padding: 5px;font-size: 14px;}
.lie_content ul li .blue{background: #00A1E9;}

/*------------------招聘子页面1-------------------*/
.zp_job_right h5{color:#8c98ac;font-size: 16px;text-align: left;line-height: 30px;font-weight: 500;}
.zp_job_right .zp_condition span{width: 970px;margin-bottom: 20px;color: #494949;font-size: 18px;text-align: left;border-bottom:1px solid #dedfe0;display: inline-block;}
.zp_job_right .zp_condition ol{list-style-type: decimal;}
.zp_job_right .zp_condition ol li{line-height:30px;color:#676767;font-size: 16px;text-align: left;}
.zp_job_right .job_application{margin-left:0;background: #00a1e9;text-align: center;width: 120px;height: 50px;}
.zp_job_right .job_application a{color:#fff;font-size: 16px;line-height:50px;}

/*------------------招聘子页面2-------------------*/
.zp_job_right .zplc_topimg img{display:block;width: 85%;float: left;margin-right: 15%;}
.zplc_span span{color:#494949;font-size: 16px;margin-bottom: 25px;margin-top: 50px;letter-spacing: 2px;text-align: left;display: inherit;}
.zplc_p p{color: #494949;font-size: 16px;line-height: 30px;text-align: left;width: 900px;}

/*------------------招聘子页面3-------------------*/
.zp_job_right .zcap_topimg {margin: 0 auto;width:870px;margin-top: 100px;}
.zp_job_right .xcap_p{font-size: 24px;color: #000000;margin-top: 40px;}
